
<div class="payment-delete-content">
    <div class="d-grid">
        <span>Tem certeza que deseja remover esse pagamento? </span>
        <span>Todos os registros realizados nessa pagamento também serão removidos. </span>
    </div>
    <div class="d-grid">
        <span>Nome</span>
        <input placeholder="Netflix" disabled maxlength="256" @bind-value="payment.Name" />
    </div>
    <div class="d-grid">
        <span>Descrição</span>
        <textarea placeholder="Plano premium" disabled rows="5" maxlength="1000" @bind="payment.Description" />
    </div>
    <div class="d-grid">
        <span>Valor</span>
        <InputNumber TValue="decimal" disabled @bind-Value=payment.Value class="currency-mask"></InputNumber>
    </div>
    <div class="d-grid">
        <span>Categoria</span>
        <select @bind="payment.CategoryId" disabled>
            <option value="">Nenhum</option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="d-grid">
        <span>Dia do pagamento</span>
        <select @bind="payment.PayDay" disabled>
            <option value="">Nenhum</option>
            @for (var index =1; index <= 31; index ++)
            {
                <option value="@index">@index</option>
            }
        </select>
    </div>
    <div class="d-flex payment-delete-action">
        <button class="btn-default" @onclick=OnClickClose>
            Cancelar
        </button>
        <button class="btn-default" @onclick=OnClickDelete>
            Remover
        </button>
    </div>
    <div>
        <span style="color: red">@ErrorMessage</span>
    </div>
</div>

@code {
    [Inject]
    private DialogProvider dialogProvider { get; set; } = default!;
    [Inject]
    private IPaymentService paymentService { get; set; } = default!;
    [Inject]
    private ICategoryService categoryService { get; set; } = default!;
    [Inject]
    private ToastProvider toastProvider { get; set; } = default!;
    [Inject]
    private JavaScriptProvider javaScriptProvider { get; set; } = default!;
    private string ErrorMessage = "";
    [Parameter]
    public PaymentResponseDTO payment { get; set; } = default!;
    private List<CategoryResponseDTO> categories = new List<CategoryResponseDTO>();

    protected override void OnAfterRender(bool firstRender) => javaScriptProvider.ApplyCurrencyMask();

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryService.GetAll();
        categories = categories.OrderBy(x => x.Name).ToList();
        StateHasChanged();
    }

    private async Task OnClickDelete()
    {
        try
        {
            await paymentService.Delete(payment.Id);
            toastProvider.ShowToast("Atualizado com sucesso com sucesso", ToastLevelEnum.Success);
            dialogProvider.CloseDialog(payment);
        }
        catch(Exception)
        {
            toastProvider.ShowToast("Erro ao criar pagamento", ToastLevelEnum.Error);
        }
    }

    private void OnClickClose()
    {
        dialogProvider.CloseDialog();
    }

}
